<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>PRODUCTOS</h1>
            <ul>
                <% listaProducto.forEach((producto) => {  %>
                    <li>
                        <strong><%= producto.referencia %> </strong>
                         <strong><%= producto.nombre %> </strong>
                         <strong> <%= producto.descripcion %> </strong>
                    </li>
                <%}) ; %>
            </ul>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>